#second-div {
  display: flex;
  flex-wrap: wrap;

  width: 95%;
  height: 180px;
  background-color: #fff;
  border-radius: 7px;
  margin-top: 1rem;
}

#first-ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

#first-ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
}

#first-ul li a {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}
